.dashboardContainer {
    background-color: #013c58;
    min-height: 60svh;
}

.elementContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    background-color: white; 
    border-radius: 5px;
}