body {
    margin: 0;
    padding: 0;
}

section {
    padding:60px 0;
}

#intro {
    background-color: #0c394e;
    color: white;
}

.bigLogo {
    filter: drop-shadow(25px 40px 0px rgba(6, 19, 34, 0.5));
}

#events {
    background-color: #013c58;
    color: white;
}

.overflow-auto::-webkit-scrollbar {
    margin-top: 0.5rem;
    height: 3px;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
    transition: display 3s ease;
}


.overflow-auto:focus::-webkit-scrollbar,
.overflow-auto:hover::-webkit-scrollbar,
.overflow-auto.scroll-detected::-webkit-scrollbar {
    display: block;
    transition: display 3s ease;
}

.overflow-auto::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.overflow-auto::-webkit-scrollbar-thumb {
    background: #888; 
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#partnership {
    background-color: #0c394e;
    color: white;
}



