/* refund policy*/
.refund_outer_container{
    min-height: 10vh;
    background-color: #013c58;
    padding: 20px;
    text-align: center;
}

.refund_container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f0f0f0; /* Light gray */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin-top: 80px;
    margin-bottom: 20px;
}

ul{
    text-align: left;
}
